# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Hugging Face cache (optional)
~/.cache/huggingface/
